allow audioserver qmuxd_socket:dir { write remove_name  add_name };
allow audioserver qmuxd_socket:sock_file { create setattr unlink };
allow audioserver audioserver:socket { ioctl };
