# Grant access to Qualcomm MSM Interface (QMI) radio sockets to RILD
qmux_socket(rild)

allow rild self:process execmem;
allow rild default_prop:property_service set;
