allow sysinit toolbox_exec:file { read open getattr execute  execute_no_trans };
auditallow sysinit toolbox_exec:file { read open getattr execute  execute_no_trans };

allow sysinit system_file:dir { read open };
